* {
	margin: 0;
	padding: 0.1em;
	box-sizing: border-box;
}


.pt-main {
	background-color: aqua;
}


.parallel-text {
	position: relative;
    margin-right: 0.5em;
	
	display: flex;
	flex-direction: row;
	align-items: baseline;
	margin-bottom: 10px;
	word-wrap: break-word;
	word-break: break-word;
}
  
.original {
	cursor: pointer;
}
  
.translation {
	display: none;
	font-style: italic;
	margin-bottom: 0.5em;
	position: absolute;
	top: -125%;
	padding: 0.5em;
	background-color: #f8f8f8;
	border-radius: 0.5em;
	box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
	z-index: 1;
	animation: fadeIn 0.5s ease-in-out;
}

.translation.show {
	display: block;
} 

@keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
}
