* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-direction: row;
}

.sidebar {
	position: relative;
	background-color: #b9d0ef;
}

.sidebar nav ul {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
  }

.sidebar nav ul li {
	margin-right: 20px;
}

.sidebar nav ul li:last-child {
	margin-right: 0;
}


.main {
	padding-left: 5px;
	background-color: aqua;
}

header {
	background-color: #e4f4f2;
	color: #fff;
	height: 100px;
	text-align: center;
	padding: 20px;
}

body {
	font-family:  sans-serif, "Helvetica Neue", Helvetica, Arial,;
	font-size: 16px;
	line-height: 1.6;
	color: #222;
	display: flex;
	min-height: 100vh;
	flex-direction: column
}

main {
	flex-grow: 1;
}

footer {
	margin-top: auto;
	height: 50px;
	background-color: #f9d9d9;
}

h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	font-weight: bold;
	line-height: 1.2;
	color: #444;
}

a {
	color: #0645AD;
	text-decoration: none;
}

a:hover {
	color: #1A73E8;
	text-decoration: underline;
}



.parallel-text {
	position: relative;
    margin-right: 0.5em;
	
	display: flex;
	flex-direction: row;
	align-items: baseline;
	margin-bottom: 10px;
	word-wrap: break-word;
	word-break: break-word;
}
  
.original {
	cursor: pointer;
}
  
.translation {
	display: none;
	font-style: italic;
	margin-bottom: 0.5em;
	position: absolute;
	top: -50%;
	padding: 0.5em;
	background-color: #f8f8f8;
	border-radius: 0.5em;
	box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
	z-index: 1;
	animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
}

.translation.show {
	display: block;
} 